<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>PlantPlaces.com Virtual Arboretum</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/topnav :: navbar">
</div>

<br/>
<div class="list-group" th:each="specimen : ${specimens}">
	<a th:href="@{/start}" class="list-group-item list-group-item-action">
		<p th:text="${specimen}"/>
	</a>
</div>

</body>
</html>