<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>PlantPlaces.com Virtual Arboretum</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<form action="#" th:action="@{/searchPlants}" method="GET">
Welcome to PlantPlaces!
	<input type="text" name="searchTerm"/>
	<button name="submit" type="submit" value="0">Search</button>
</form>
<br/>
Your specimen is: <p th:text="${specimenDTO}"/>


<form action="#" th:action="@{/savespecimen}" th:object="${specimenDTO}" method="GET">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Latitude</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="latitude" th:field="*{latitude}">
</div>

Longitude: <input type="text" name="longitude" th:field="*{longitude}"/><br/>
Description: <input type="text" name="description" th:field="*{description}"/><br/>
Plant: <input type="text" name="plantId" th:field="*{plantId}"/><br/>

<button name="submit" type="submit" value="0">Submit</button>
</form>


</body>
</html>